.app-wrapper {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1920px;

}
.container{
    background-color: black;
}
.footer_inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}